In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("main_file.csv", header=None)

In [3]:
print(df)

      0   1    2    3     4    5    6   7    8     9   ...    11  12    13  \
0    A11   6  A34  A43  1169  A65  A75   4  A93  A101  ...  A121  67  A143
1    A12  48  A32  A43  5951  A61  A73   2  A92  A101  ...  A121  22  A143
2    A14  12  A34  A46  2096  A61  A74   2  A93  A101  ...  A121  49  A143
3    A11  42  A32  A42  7882  A61  A74   2  A93  A103  ...  A122  45  A143
4    A11  24  A33  A40  4870  A61  A73   3  A93  A101  ...  A124  53  A143
..   ...  ..  ...  ...   ...  ...  ...  ..  ...   ...  ...   ...  ..   ...
995  A14  12  A32  A42  1736  A61  A74   3  A92  A101  ...  A121  31  A143
996  A11  30  A32  A41  3857  A61  A73   4  A91  A101  ...  A122  40  A143
997  A14  12  A32  A43   804  A61  A75   4  A93  A101  ...  A123  38  A143
998  A11  45  A32  A43  1845  A61  A73   4  A93  A101  ...  A124  23  A143
999  A12  45  A34  A41  4576  A62  A71   3  A93  A101  ...  A123  27  A143

       14 15    16 17    18    19 20
0    A152  2  A173  1  A192  A201  1
1    A152  1  A173  1  A191  A201  2
2    A152  1  A172  2  A191  A201  1
3    A153  1  A173  2  A191  A201  1
4    A153  2  A173  2  A191  A201  2
..    ... ..   ... ..   ...   ... ..
995  A152  1  A172  1  A191  A201  1
996  A152  1  A174  1  A192  A201  1
997  A152  1  A173  1  A191  A201  1
998  A153  1  A173  1  A192  A201  2
999  A152  1  A173  1  A191  A201  1

[1000 rows x 21 columns]

In [4]:
df.columns = ['Checking Acc Status', 'Duration(months)', 'Credit History', 'Purpose', 'Credit Amount', 'Savings', 'Present employment since', 'Installment rate', 'Personal Status/Gender', 'Gurantors', 'Present residence since', 'Property', 'Age(Years)', 'Other installment plans', 'Housing', 'Number of existing credits at this bank', 'Job', 'People Maintainance', 'Telephone', 'foreign worker', 'Loan Quality']

In [5]:
print(df)

    Checking Acc Status  Duration(months) Credit History Purpose  \
0                   A11                 6            A34     A43
1                   A12                48            A32     A43
2                   A14                12            A34     A46
3                   A11                42            A32     A42
4                   A11                24            A33     A40
..                  ...               ...            ...     ...
995                 A14                12            A32     A42
996                 A11                30            A32     A41
997                 A14                12            A32     A43
998                 A11                45            A32     A43
999                 A12                45            A34     A41

     Credit Amount Savings Present employment since  Installment rate  \
0             1169     A65                      A75                 4
1             5951     A61                      A73                 2
2             2096     A61                      A74                 2
3             7882     A61                      A74                 2
4             4870     A61                      A73                 3
..             ...     ...                      ...               ...
995           1736     A61                      A74                 3
996           3857     A61                      A73                 4
997            804     A61                      A75                 4
998           1845     A61                      A73                 4
999           4576     A62                      A71                 3

    Personal Status/Gender Gurantors  ...  Property Age(Years)  \
0                      A93      A101  ...      A121         67
1                      A92      A101  ...      A121         22
2                      A93      A101  ...      A121         49
3                      A93      A103  ...      A122         45
4                      A93      A101  ...      A124         53
..                     ...       ...  ...       ...        ...
995                    A92      A101  ...      A121         31
996                    A91      A101  ...      A122         40
997                    A93      A101  ...      A123         38
998                    A93      A101  ...      A124         23
999                    A93      A101  ...      A123         27

     Other installment plans Housing Number of existing credits at this bank  \
0                       A143    A152                                       2
1                       A143    A152                                       1
2                       A143    A152                                       1
3                       A143    A153                                       1
4                       A143    A153                                       2
..                       ...     ...                                     ...
995                     A143    A152                                       1
996                     A143    A152                                       1
997                     A143    A152                                       1
998                     A143    A153                                       1
999                     A143    A152                                       1

      Job People Maintainance  Telephone foreign worker Loan Quality
0    A173                   1       A192           A201            1
1    A173                   1       A191           A201            2
2    A172                   2       A191           A201            1
3    A173                   2       A191           A201            1
4    A173                   2       A191           A201            2
..    ...                 ...        ...            ...          ...
995  A172                   1       A191           A201            1
996  A174                   1       A192           A201            1
997  A173                   1       A191           A201            1
998  A173                   1       A192           A201            2
999  A173                   1       A191           A201            1

[1000 rows x 21 columns]

In [6]:
df.iloc[:,8]

0      A93
1      A92
2      A93
3      A93
4      A93
      ...
995    A92
996    A91
997    A93
998    A93
999    A93
Name: Personal Status/Gender, Length: 1000, dtype: object

In [7]:
symbol_map = {
    'A91': ('male', 'divorced/separated'),
    'A92': ('female', 'divorced/separated/married'),
    'A93': ('male', 'single'),
    'A94': ('male', 'married/widowed'),
    'A95': ('female', 'single')
}

In [8]:
def decode_symbol(symbol):
    return symbol_map.get(symbol, (None, None))
df[['Gender', 'Marital_Status']] = df.iloc[:,8].apply(decode_symbol).apply(pd.Series)

In [9]:
df = df.drop(columns=['Personal Status/Gender'])

In [10]:
df['Loan Quality'] = df['Loan Quality'].map({1: 0, 2: 1})

In [11]:
df['Gender'] = df['Gender'].map({'male': 0, 'female': 1}) # male = 0 female = 1

In [12]:
df['Marital_Status'] = df['Marital_Status'].map({'single': 0, 'divorced/separated/married': 1, 'divorced/separated': 1, 'married/widowed': 1})

In [13]:
df

,Checking Acc Status,Duration(months),Credit History,Purpose,Credit Amount,Savings,Present employment since,Installment rate,Gurantors,Present residence since,...,Other installment plans,Housing,Number of existing credits at this bank,Job,People Maintainance,Telephone,foreign worker,Loan Quality,Gender,Marital_Status
0,A11,6,A34,A43,1169,A65,A75,4,A101,4,...,A143,A152,2,A173,1,A192,A201,0,0,0
1,A12,48,A32,A43,5951,A61,A73,2,A101,2,...,A143,A152,1,A173,1,A191,A201,1,1,1
2,A14,12,A34,A46,2096,A61,A74,2,A101,3,...,A143,A152,1,A172,2,A191,A201,0,0,0
3,A11,42,A32,A42,7882,A61,A74,2,A103,4,...,A143,A153,1,A173,2,A191,A201,0,0,0
4,A11,24,A33,A40,4870,A61,A73,3,A101,4,...,A143,A153,2,A173,2,A191,A201,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,A14,12,A32,A42,1736,A61,A74,3,A101,4,...,A143,A152,1,A172,1,A191,A201,0,1,1
996,A11,30,A32,A41,3857,A61,A73,4,A101,4,...,A143,A152,1,A174,1,A192,A201,0,0,1
997,A14,12,A32,A43,804,A61,A75,4,A101,4,...,A143,A152,1,A173,1,A191,A201,0,0,0
998,A11,45,A32,A43,1845,A61,A73,4,A101,4,...,A143,A153,1,A173,1,A192,A201,1,0,0
999,A12,45,A34,A41,4576,A62,A71,3,A101,4,...,A143,A152,1,A173,1,A191,A201,0,0,0

In [15]:
symbol_to_text = {
    # Attribute 1: checking_account
    'A11': '0',
    'A12': '200',
    'A13': '200+',
    'A14': 'none',

    # Attribute 3: credit_history --> ONE HOT
    'A30': 'no credits/all paid',
    'A31': 'all credits paid (this bank)',
    'A32': 'credits paid till now',
    'A33': 'delay in past',
    'A34': 'critical/other credits',

    # Attribute 4: purpose --> ONE HOT
    'A40': 'car (new)',
    'A41': 'car (used)',
    'A42': 'furniture/equipment',
    'A43': 'radio/television',
    'A44': 'domestic appliances',
    'A45': 'repairs',
    'A46': 'education',
    'A47': 'vacation',
    'A48': 'retraining',
    'A49': 'business',
    'A410': 'others',

    # Attribute 6: savings
    'A61': '100',
    'A62': '500',
    'A63': '1000',
    'A64': '1000+',
    'A65': 'unknown',

    # Attribute 7: employment
    'A71': 'unemployed',
    'A72': '1',
    'A73': '4',
    'A74': '7',
    'A75': '7+',

    # Attribute 10: other_debtors --> guarantor and co-applicant are same weight
    'A101': 'none',
    'A102': 'co-applicant',
    'A103': 'guarantor',

    # Attribute 12: property --> ONE HOT
    'A121': 'real estate',
    'A122': 'life insurance/building society',
    'A123': 'car/other',
    'A124': 'unknown',

    # Attribute 14: installment_plans --> ONE HOT
    'A141': 'bank',
    'A142': 'stores',
    'A143': 'none',

    # Attribute 15: housing --> ONE HOT
    'A151': 'rent',
    'A152': 'own',
    'A153': 'for free',

    # Attribute 17: job
    'A171': 'unskilled_non-res',
    'A172': 'unskilled_res',
    'A173': 'skilled',
    'A174': 'management/self-employed',

    # Attribute 19: telephone
    'A191': 0,
    'A192': 1,

    # Attribute 20: foreign_worker
    'A201': 1,
    'A202': 0
}
df_replaced = df.replace(symbol_to_text)

In [16]:
pd.options.display.max_columns = None

In [17]:
df_replaced

,Checking Acc Status,Duration(months),Credit History,Purpose,Credit Amount,Savings,Present employment since,Installment rate,Gurantors,Present residence since,Property,Age(Years),Other installment plans,Housing,Number of existing credits at this bank,Job,People Maintainance,Telephone,foreign worker,Loan Quality,Gender,Marital_Status
0,0,6,critical/other credits,radio/television,1169,unknown,7+,4,none,4,real estate,67,none,own,2,skilled,1,1,1,0,0,0
1,200,48,credits paid till now,radio/television,5951,100,4,2,none,2,real estate,22,none,own,1,skilled,1,0,1,1,1,1
2,none,12,critical/other credits,education,2096,100,7,2,none,3,real estate,49,none,own,1,unskilled_res,2,0,1,0,0,0
3,0,42,credits paid till now,furniture/equipment,7882,100,7,2,guarantor,4,life insurance/building society,45,none,for free,1,skilled,2,0,1,0,0,0
4,0,24,delay in past,car (new),4870,100,4,3,none,4,unknown,53,none,for free,2,skilled,2,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,none,12,credits paid till now,furniture/equipment,1736,100,7,3,none,4,real estate,31,none,own,1,unskilled_res,1,0,1,0,1,1
996,0,30,credits paid till now,car (used),3857,100,4,4,none,4,life insurance/building society,40,none,own,1,management/self-employed,1,1,1,0,0,1
997,none,12,credits paid till now,radio/television,804,100,7+,4,none,4,car/other,38,none,own,1,skilled,1,0,1,0,0,0
998,0,45,credits paid till now,radio/television,1845,100,4,4,none,4,unknown,23,none,for free,1,skilled,1,1,1,1,0,0
999,200,45,critical/other credits,car (used),4576,500,unemployed,3,none,4,car/other,27,none,own,1,skilled,1,0,1,0,0,0

In [18]:
from sklearn.preprocessing import OrdinalEncoder

In [19]:
encoder = OrdinalEncoder(categories=[['unskilled_non-res', 'unskilled_res', 'skilled', 'management/self-employed']])
encoded = encoder.fit_transform(df_replaced[['Job']])
df_replaced['Job'] = encoded

In [20]:
df_replaced['Gurantors'] = df_replaced['Gurantors'].map({'none': 0, 'guarantor': 1, 'co-applicant': 1})

In [21]:
df_replaced

,Checking Acc Status,Duration(months),Credit History,Purpose,Credit Amount,Savings,Present employment since,Installment rate,Gurantors,Present residence since,Property,Age(Years),Other installment plans,Housing,Number of existing credits at this bank,Job,People Maintainance,Telephone,foreign worker,Loan Quality,Gender,Marital_Status
0,0,6,critical/other credits,radio/television,1169,unknown,7+,4,0,4,real estate,67,none,own,2,2.0,1,1,1,0,0,0
1,200,48,credits paid till now,radio/television,5951,100,4,2,0,2,real estate,22,none,own,1,2.0,1,0,1,1,1,1
2,none,12,critical/other credits,education,2096,100,7,2,0,3,real estate,49,none,own,1,1.0,2,0,1,0,0,0
3,0,42,credits paid till now,furniture/equipment,7882,100,7,2,1,4,life insurance/building society,45,none,for free,1,2.0,2,0,1,0,0,0
4,0,24,delay in past,car (new),4870,100,4,3,0,4,unknown,53,none,for free,2,2.0,2,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,none,12,credits paid till now,furniture/equipment,1736,100,7,3,0,4,real estate,31,none,own,1,1.0,1,0,1,0,1,1
996,0,30,credits paid till now,car (used),3857,100,4,4,0,4,life insurance/building society,40,none,own,1,3.0,1,1,1,0,0,1
997,none,12,credits paid till now,radio/television,804,100,7+,4,0,4,car/other,38,none,own,1,2.0,1,0,1,0,0,0
998,0,45,credits paid till now,radio/television,1845,100,4,4,0,4,unknown,23,none,for free,1,2.0,1,1,1,1,0,0
999,200,45,critical/other credits,car (used),4576,500,unemployed,3,0,4,car/other,27,none,own,1,2.0,1,0,1,0,0,0

In [60]:
df_final = pd.get_dummies(df_replaced, columns=['Property', 'Other installment plans', 'Housing', 'Credit History', 'Purpose'])

In [61]:
df_final

,Checking Acc Status,Duration(months),Credit Amount,Savings,Present employment since,Installment rate,Gurantors,Present residence since,Age(Years),Number of existing credits at this bank,Job,People Maintainance,Telephone,foreign worker,Loan Quality,Gender,Marital_Status,Property_car/other,Property_life insurance/building society,Property_real estate,Property_unknown,Other installment plans_bank,Other installment plans_none,Other installment plans_stores,Housing_for free,Housing_own,Housing_rent,Credit History_all credits paid (this bank),Credit History_credits paid till now,Credit History_critical/other credits,Credit History_delay in past,Credit History_no credits/all paid,Purpose_business,Purpose_car (new),Purpose_car (used),Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_others,Purpose_radio/television,Purpose_repairs,Purpose_retraining
0,0.0,6,1169,4.0,4.0,4,0,4,67,2,2.0,1,1,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
1,1.0,48,5951,0.0,2.0,2,0,2,22,1,2.0,1,0,1,1,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3.0,12,2096,0.0,3.0,2,0,3,49,1,1.0,2,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
3,0.0,42,7882,0.0,3.0,2,1,4,45,1,2.0,2,0,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0.0,24,4870,0.0,2.0,3,0,4,53,2,2.0,2,0,1,1,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3.0,12,1736,0.0,3.0,3,0,4,31,1,1.0,1,0,1,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
996,0.0,30,3857,0.0,2.0,4,0,4,40,1,3.0,1,1,1,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
997,3.0,12,804,0.0,4.0,4,0,4,38,1,2.0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
998,0.0,45,1845,0.0,2.0,4,0,4,23,1,2.0,1,1,1,1,0,0,0,0,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
999,1.0,45,4576,1.0,0.0,3,0,4,27,1,2.0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0